*{
    margin: 0px;
    padding: 0px;
}
.cuerpo{
    background-color:cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}
.grilla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px auto auto auto 50px;
    grid-template-areas:
    "header header"
    "contenido aside"
    "contenido aside"
    "contenido aside"
    "footer footer"
    ;
    justify-content: start;
}
.a{
    grid-area: header;
    background: cadetblue;
    grid-row: 1/2;
}
.b{
    grid-area: contenido;
    grid-row: 2/3;
}
.c{
    grid-area: contenido;
    grid-row: 3/4;
}
.d{
    grid-area: contenido;
    grid-row: 4/5;
}
.aside{
    grid-area: aside;
}
.e{
    grid-area: footer;
    grid-row: 5/6;
}
.header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.header__item{
    display:inline-block;
    margin: 5px 2px 5px 2px;
    padding: 5px 5px 5px 5px;
    border-top: solid 2px rebeccapurple;
    border-bottom: solid 2px rebeccapurple;
    border-left: solid 2px rebeccapurple;
    border-right: solid 2px rebeccapurple;
    border-radius: 5px;
    transition: all;
}
.header__item:hover{
    margin-left: 1px;
    margin-right: 1px;
    font-size: large;
    font-weight: bold;
    border-top: solid 3px rebeccapurple;
    border-bottom: solid 3px rebeccapurple;
    border-left: solid 3px rebeccapurple;
    border-right: solid 3px rebeccapurple;
    color: white;
}
a{
    text-decoration: none;
}

.seccion1, .seccion2, .seccion3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.seccion1__titulo, .seccion2__titulo, .seccion3__titulo{
    display: block;
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: x-large;
    text-decoration: underline;
    color: white;
}
.contenedor__index--img1, .contenedor__index--img2, .contenedor__index--img3{
    height: 449px;
    width: 800px;
    position: relative;
}
.seccion1__lista, .seccion2__lista, .seccion3__lista{
    position: absolute;
    bottom: 0px;
}
.seccion1__item, .seccion2__item, .seccion3__item{
    display: inline-block;
    margin: 5px 2px 5px 2px;
    padding: 5px 5px 5px 5px;
    color: white;
    text-decoration: underline;
}
.formulario{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: darkslateblue;
}
.footer__titulo{
    margin-bottom: 10px;
    margin-left: 5px;
    text-decoration: underline;
}
.footer__datos{
    margin-bottom: 5px;
    margin-left: 5px;
}